<div class="container">
  <img src= "src/assets/Officielle.png" alt="Fares Tech Secure Logo" class="logo">
  <h1 [@fadeInOut]>{{ companyName }}</h1>
  <p [@fadeInOut]>{{ companyDescription }}</p>
  <div [@fadeInOut] class="services animated">
    <h2>Nos Services</h2>
    <ul>
      <li>Audit de sécurité</li>
      <li>Conseil en sécurité informatique</li>
      <li>Protection contre les cyberattaques</li>
      <li>Formation en cybersécurité</li>
    </ul>
  </div>
  <div [@fadeInOut] class="contact animated">
    <h2>Contactez-nous</h2>
    <p>Email: contact@fares-tech-secure.com</p>
    <p>Téléphone: +123456789</p>
  </div>
</div>
